<div class="container">
  <div
    *ngIf="videoContent$ | async; let content; else: broken"
    class="content-container"
  >
    <h4>Moment from meeting with Two Pillars</h4>
    <!-- 
      added the click directive to the video placeholder
      so users can have the ability to click anywhere on the video to pause
      instead of bein limited to the button itself
    -->
    <div class="video-placeholder" (click)="toggleVideo()">
      <video
        (timeupdate)="onTimeUpdate($event)"
        width="296"
        height="171"
        #videoPlayer
      >
        <source [src]="content?.video" type="video/mp4" />
      </video>
      <div [ngClass]="isPlaying ? 'hidden' : 'play-button'">
        <div class="arrow-right"></div>
      </div>
    </div>
    <div class="transcript-container">
      <div
        class="speaker-circle"
        [ngStyle]="{
          'border-color':
            ((trasncript$ | async)?.speaker | lowercase) !== 'cust'
              ? '#00A7D1'
              : '#EE6EFF'
        }"
      ></div>
      <div>
        <p class="speaker">{{ (trasncript$ | async)?.speaker }}</p>

        <p
          *ngFor="let transcript of (trasncript$ | async)?.snippets"
          class="details"
        >
          {{ transcript }}
        </p>
      </div>
    </div>
  </div>
  <ng-template #broken>
    <h1>Something Went Wrong - Please Ensure You've Entered The Correct ID</h1>
  </ng-template>
</div>
